$fonts: "copy-bold", "copy-regular", "title-bold", "title-regular", "icons";
@each $font in $fonts {
	@font-face {
		font-family: $font;
		src: url('./../fonts/#{$font}.ttf') format('truetype'),
	}
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1, h2, h3, h4 ,h5, h6 {
    font-family: title-bold;
}
p, span {
    font-family: copy-regular;
}