.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f1f1f1; }
  .editor__search {
    display: flex;
    height: 50px;
    border: solid 2px #000000;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #ffffff; }
  .editor__services {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative; }
    .editor__services--results {
      position: relative; }
      .editor__services--results > div {
        margin-top: 15px; }
        .editor__services--results > div:nth-of-type(1) {
          margin-top: 0; }
